# MC855 - Data analysis pyspark

## Initializing spark and data
 - Spark version 2.2.0
 - Change /home/henrique/Downloads/spark to the path you downloaded and extracted spark
 - You may need to export hadoop bin to your path before running jupyter notebook 
   - `export PATH=$PATH:/Users/hadoop/hadoop/bin`

In [1]:
# Import findspark 
import findspark

# Initialize and provide path
findspark.init("/home/henrique/Downloads/spark")

# Or use this alternative
#findspark.init()

In [2]:
# Import SparkSession
from pyspark.sql import SparkSession

# Build the SparkSession
spark = SparkSession.builder \
       .master("local") \
       .appName("Linear Regression Model") \
       .config("spark.executor.memory", "1gb") \
       .getOrCreate()
   
sc = spark.sparkContext

In [3]:
# Deprecated - Using direct load from CSV to df
#file = sc.textFile("games.csv")
#header = file.first()                           #extract header
#data = file.filter(lambda row: row != header)   #filter out header

## Trying to load directly from the csv
if this is working, the last frame is not needed anymore

In [4]:
import pyspark
sql = pyspark.sql.SQLContext(sc)

df = (sql.read
         .format("com.databricks.spark.csv")  # Choose the bib to oad csv
         .option("header", "true")            # Use the first line as header
         .option("inferSchema", "true")       # Try to infer data type - if this is not set all the typer will be str
         .load("games.csv"))                  # File name

In [5]:
df

DataFrame[gameId: bigint, gameDuration: int, seasonId: int, winner: int, firstBlood: int, firstTower: int, firstInhibitor: int, firstBaron: int, firstDragon: int, firstRiftHerald: int, t1_champ1id: int, t1_champ1_sum1: int, t1_champ1_sum2: int, t1_champ2id: int, t1_champ2_sum1: int, t1_champ2_sum2: int, t1_champ3id: int, t1_champ3_sum1: int, t1_champ3_sum2: int, t1_champ4id: int, t1_champ4_sum1: int, t1_champ4_sum2: int, t1_champ5id: int, t1_champ5_sum1: int, t1_champ5_sum2: int, t1_towerKills: int, t1_inhibitorKills: int, t1_baronKills: int, t1_dragonKills: int, t1_riftHeraldKills: int, t1_ban1: int, t1_ban2: int, t1_ban3: int, t1_ban4: int, t1_ban5: int, t2_champ1id: int, t2_champ1_sum1: int, t2_champ1_sum2: int, t2_champ2id: int, t2_champ2_sum1: int, t2_champ2_sum2: int, t2_champ3id: int, t2_champ3_sum1: int, t2_champ3_sum2: int, t2_champ4id: int, t2_champ4_sum1: int, t2_champ4_sum2: int, t2_champ5id: int, t2_champ5_sum1: int, t2_champ5_sum2: int, t2_towerKills: int, t2_inhibitorKills: int, t2_baronKills: int, t2_dragonKills: int, t2_riftHeraldKills: int, t2_ban1: int, t2_ban2: int, t2_ban3: int, t2_ban4: int, t2_ban5: int]

### Just checking if data is Ok
will print the first three lines of file and the last two of then must be equal to data

In [6]:
#file.take(3)

In [7]:
#data.take(2)

### Spliting each element of the data list and turning each line in a list...

In [8]:
#file = file.map(lambda line: line.split(","))

### Defining the header of the rdd and turning it into a DataFrame

In [9]:
# Map the RDD to a DF
#from pyspark.sql import Row

#df = file.map(lambda line: Row(gameId =                 line[0],
#                                gameDuration =          line[1],
#                                seasonId =              line[2],
#                                winner =                line[3],
#                                firstBlood =            line[4],
#                                firstTower =            line[5],
#                                firstInhibitor =        line[6],
#                                firstBaron =            line[7],
#                                firstDragon =           line[8],
#                                firstRiftHerald =       line[9],
#                                t1_champ1id =           line[10],
#                                t1_champ1_sum1 =        line[11],
#                                t1_champ1_sum2 =        line[12],
#                                t1_champ2id =           line[13],
#                                t1_champ2_sum1 =        line[14],
#                                t1_champ2_sum2 =        line[15],
#                                t1_champ3id =           line[16],
#                                t1_champ3_sum1 =        line[17],
#                                t1_champ3_sum2 =        line[18],
#                                t1_champ4id =           line[19],
#                                t1_champ4_sum1 =        line[20],
#                                t1_champ4_sum2 =        line[21],
#                                t1_champ5id =           line[22],
#                                t1_champ5_sum1 =        line[23],
#                                t1_champ5_sum2 =        line[24],
#                                t1_towerKills =         line[25],
#                                t1_inhibitorKills =     line[26],
#                                t1_baronKills =         line[27],
#                                t1_dragonKills =        line[28],
#                                t1_riftHeraldKills =    line[29],
#                                t1_ban1 =               line[30],
#                                t1_ban2 =               line[31],
#                                t1_ban3 =               line[32],
#                                t1_ban4 =               line[33],
#                                t1_ban5 =               line[34],
#                                t2_champ1id =           line[35],
#                                t2_champ1_sum1 =        line[36],
#                                t2_champ1_sum2 =        line[37],
#                                t2_champ2id =           line[38],
#                                t2_champ2_sum1 =        line[39],
#                                t2_champ2_sum2 =        line[40],
#                                t2_champ3id =           line[41],
#                                t2_champ3_sum1 =        line[42],
#                                t2_champ3_sum2 =        line[43],
#                                t2_champ4id =           line[44],
#                                t2_champ4_sum1 =        line[45],
#                                t2_champ4_sum2 =        line[46],
#                                t2_champ5id =           line[47],
#                                t2_champ5_sum1 =        line[48],
#                                t2_champ5_sum2 =        line[49],
#                                t2_towerKills =         line[50],
#                                t2_inhibitorKills =     line[51],
#                                t2_baronKills =         line[52],
#                                t2_dragonKills =        line[53],
#                                t2_riftHeraldKills =    line[54],
#                                t2_ban1 =               line[55],
#                                t2_ban2 =               line[56],
#                                t2_ban3 =               line[57],
#                                t2_ban4 =               line[58],
#                                t2_ban5 =               line[59])).toDF()

In [10]:
#df.show()

### Excluding rows that are not needed

In [11]:
excludes = [
 't1_ban1',
 't1_ban2',
 't1_ban3',
 't1_ban4',
 't1_ban5',
 't1_baronKills',
 't1_champ1_sum1',
 't1_champ1_sum2',
 't1_champ1id',
 't1_champ2_sum1',
 't1_champ2_sum2',
 't1_champ2id',
 't1_champ3_sum1',
 't1_champ3_sum2',
 't1_champ3id',
 't1_champ4_sum1',
 't1_champ4_sum2',
 't1_champ4id',
 't1_champ5_sum1',
 't1_champ5_sum2',
 't1_champ5id',
 't2_ban1',
 't2_ban2',
 't2_ban3',
 't2_ban4',
 't2_ban5',
 't2_baronKills',
 't2_champ1_sum1',
 't2_champ1_sum2',
 't2_champ1id',
 't2_champ2_sum1',
 't2_champ2_sum2',
 't2_champ2id',
 't2_champ3_sum1',
 't2_champ3_sum2',
 't2_champ3id',
 't2_champ4_sum1',
 't2_champ4_sum2',
 't2_champ4id',
 't2_champ5_sum1',
 't2_champ5_sum2',
 't2_champ5id']

In [12]:
for exclude in excludes:
    df = df.drop(exclude)

In [13]:
df.columns

['gameId',
 'gameDuration',
 'seasonId',
 'winner',
 'firstBlood',
 'firstTower',
 'firstInhibitor',
 'firstBaron',
 'firstDragon',
 'firstRiftHerald',
 't1_towerKills',
 't1_inhibitorKills',
 't1_dragonKills',
 't1_riftHeraldKills',
 't2_towerKills',
 't2_inhibitorKills',
 't2_dragonKills',
 't2_riftHeraldKills']

### Now we need to define each row type

In [14]:
# DEPRECATED - AS We're importing it directly from CSV
# Import all from `sql.types`
#from pyspark.sql.types import *

# Write a custom function to convert the data type of DataFrame columns
#def convertColumn(df, names, newType):
#  for name in names: 
#     df = df.withColumn(name, df[name].cast(newType))
#  return df 

# Assign all column names to `columns`
columns = ['firstBaron',
 'firstBlood',
 'firstDragon',
 'firstInhibitor',
 'firstRiftHerald',
 'firstTower',
 'gameDuration',
 'gameId',
 'seasonId',
 't1_dragonKills',
 't1_inhibitorKills',
 't1_riftHeraldKills',
 't1_towerKills',
 't2_dragonKills',
 't2_inhibitorKills',
 't2_riftHeraldKills',
 't2_towerKills',
 'winner']

# Conver the `df` columns to `FloatType()`
#df = convertColumn(df, columns, IntegerType())

#df = df.select("medianHouseValue", 
#              "totalBedRooms", 
#              "population", 
#              "households", 
#              "medianIncome", 
#              "roomsPerHousehold", 
#              "populationPerHousehold", 
#              "bedroomsPerRoom")

In [15]:
df.printSchema()

root
 |-- gameId: long (nullable = true)
 |-- gameDuration: integer (nullable = true)
 |-- seasonId: integer (nullable = true)
 |-- winner: integer (nullable = true)
 |-- firstBlood: integer (nullable = true)
 |-- firstTower: integer (nullable = true)
 |-- firstInhibitor: integer (nullable = true)
 |-- firstBaron: integer (nullable = true)
 |-- firstDragon: integer (nullable = true)
 |-- firstRiftHerald: integer (nullable = true)
 |-- t1_towerKills: integer (nullable = true)
 |-- t1_inhibitorKills: integer (nullable = true)
 |-- t1_dragonKills: integer (nullable = true)
 |-- t1_riftHeraldKills: integer (nullable = true)
 |-- t2_towerKills: integer (nullable = true)
 |-- t2_inhibitorKills: integer (nullable = true)
 |-- t2_dragonKills: integer (nullable = true)
 |-- t2_riftHeraldKills: integer (nullable = true)

In [16]:
df.dtypes

[('gameId', 'bigint'),
 ('gameDuration', 'int'),
 ('seasonId', 'int'),
 ('winner', 'int'),
 ('firstBlood', 'int'),
 ('firstTower', 'int'),
 ('firstInhibitor', 'int'),
 ('firstBaron', 'int'),
 ('firstDragon', 'int'),
 ('firstRiftHerald', 'int'),
 ('t1_towerKills', 'int'),
 ('t1_inhibitorKills', 'int'),
 ('t1_dragonKills', 'int'),
 ('t1_riftHeraldKills', 'int'),
 ('t2_towerKills', 'int'),
 ('t2_inhibitorKills', 'int'),
 ('t2_dragonKills', 'int'),
 ('t2_riftHeraldKills', 'int')]

In [17]:
df.select('t1_inhibitorKills','t2_towerKills','winner').show(15)

+-----------------+-------------+------+
|t1_inhibitorKills|t2_towerKills|winner|
+-----------------+-------------+------+
|                1|            5|     0|
|                4|            2|     0|
|                1|            2|     0|
|                2|            0|     0|
|                2|            3|     0|
|                1|            6|     0|
|                2|            2|     0|
|                0|            0|     0|
|                0|            8|     1|
|                1|            8|     1|
|                0|           10|     1|
|                1|            2|     0|
|                0|            3|     0|
|                1|            3|     0|
|                1|            9|     1|
+-----------------+-------------+------+
only showing top 15 rows

## Now, we need to start using MLlib - spark ml library

 - https://spark.apache.org/docs/2.2.0/ml-classification-regression.html#logistic-regression
 - http://people.duke.edu/~ccc14/sta-663-2016/21D_Spark_MLib.html
 - https://docs.databricks.com/spark/latest/mllib/binary-classification-mllib-pipelines.html

In [20]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression, LogisticRegressionModel
from pyspark.ml.feature import VectorAssembler

In [21]:
lr = LogisticRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8)